*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #f0f8ff; 
    color: black; 
}

header{
    background-color: #333;;
    height: 80px;
    width: 100%;
    position: fixed;
}

h1{
    color: white;
    position:absolute;
    left:3vw;
    top:0;
    line-height: 80px;
    font-family: cursive;
    font-size: 3vw;
}

header nav ul{
    position:absolute;
    right:5vw;
    top:0;
    line-height: 80px;
}

header nav li{
    display: inline-block;
    margin-right: 2vw;
    position: relative;
}

header nav a{
    color:white;
    text-decoration: none;
    font-size: 1.5vw;
}

header nav a:hover{
    text-decoration: underline;
}

header nav ul li ul {
    display: none;
    position: absolute; 
    left: 0; 
    top: 100%; 
    background: #333; 
    padding: 0; 
    z-index: 5; 
}

header nav ul li:hover ul {
    display: block; 
}

header nav ul li ul li {
    width: 15vw; 
}

header nav ul li ul li a {
    display: block; 
    padding: 10px;
    color: white; 
    text-decoration: none; 
    background: #333; 
}

header nav ul li ul li a:hover {
    text-decoration: underline;
}

h2{
    color: black;
}

.navigation-section {
    background-image: url('images/background.jpg'); 
    background-size: cover; 
    background-position: center; 
    color: white; 
    padding: 50px 20px; 
    text-align: center; 
}

.headline{
    background-color: white;
    color: white;
    height: 40vh;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.headline h2{
    font-size: 60px;
    margin-top: 10vh;
}

body {
    background-color: #f0f8ff; 
    color: black; 
}

footer {
    background-color: #333;
    color: gray;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0;
}

.sitemap {
    padding: 20px; 
    margin-top: 0.3vh;
    display: flex; 
    justify-content: space-around; 
}

.sitemap > div {
    flex: 1; 
    margin: 0 10px; 
    padding: 10px; 
    background-color: #f0f8ff; 
    border-radius: 5px; 
}

.sitemap h2 {
    font-size: 1.5vw;
    text-align: center; 
    margin-bottom: 10px; 
    padding: 10px; 
    background-color: #add8e6; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.sitemap ul {
    list-style-type: disc; 
    font-size: 1vw;
    margin-left: 20px; 
}

.introduction {
    padding: 5px; 
    margin-top: 1vh;
    margin-left: 1.8vw;
}

.introduction p {
    font-size: 1vw;
    margin: 10px 0; /* 段落上下邊距 */
    max-width: 800px; /* 可調整的最大寬度 */
    text-align: left; /* 文字居中 */
}

.backs-button {
    position: fixed; /* 固定位置 */
    left: 50%; /* 水平居中 */
    bottom: 70px; /* 距离底部50px */
    transform: translateX(-50%); /* 调整位置使其完全水平居中 */
    background-color: #add8e6;
    color: black;
    text-decoration: none; 
    padding: 10px 15px; 
    border-radius: 5px; 
    z-index: 1000; 
}

.backs-button:hover {
    text-decoration: underline;
    background-color: #54bddf;
    color: black;
}

